@using EntityLayer.Concrete
@model Message
@{
    ViewData["Title"] = "WriterInboxDetail";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div>
    <label class="badge badge-gradient-success" style="font-size:30px;margin-left:15px; ">@Model.Writer.WriterName</label>
</div>
<div style="margin-top:5px;">
    <div>
        <img src="~/WriterAddedImages/@Model.Writer.WriterImage" alt="image" class="profile-pic;" style="object-fit: cover; border-radius: 50%; width:180px;height:180px;"> @*style="object-fit: cover -> resmi sığdırır, Görselin düzgün oturmasını sağlar*@
        @Model.MessageDetails
    </div>
</div>
