@model int
 <div class="col-lg-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-comment fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span>Toplam Yorum</span>
                            <h2 class="font-bold">@Model</h2>
                        </div>
                    </div>
                </div>
            </div>
