@using EntityLayer.Concrete
@model IEnumerable<Writer>

@{
    ViewData["Title"] = "WriterAbout";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


@foreach(var item in Model)
{
    <div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img src="~/WriterAddedImages/@item.WriterImage"
                         class="profile-img"
                         alt="image">
                    <div class="mb-0 flex-grow" style="margin-left:30px;">
                            <h5 class="mr-2 mb-2" style="text-align :center;font-size:25px;">@item.WriterName</h5>
                            <p class="mb-0 font-weight-light" style="font-family:Bahnschrift;font-size:17px;">@item.WriterAbout</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

<style>

    .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%; /* Yuvarlak yapı */
        object-fit: cover; /* Görselin düzgün oturmasını sağlar */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
        transition: transform 0.3s ease-in-out;
    }

        .profile-img:hover {
            transform: scale(1.1); /* Üzerine gelince hafif büyüme efekti */
        }

</style>

@* <div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <div class="d-flex">
                    <img src="~/WriterAddedImages/@Model.WriterImage" class="img-sm rounded-circle mr-3" alt="image" style="width:120px;height:120px;">
                    <div class="mb-0 flex-grow">
                        <h5 class="mr-2 mb-2">@Model.WriterName</h5>
                        <p class="mb-0 font-weight-light">@Model.WriterAbout</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 *@
