<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
				<h3>Hakkımızda</h3>
				<p>Bu Web sitesi Muhammed Sert tarafından 2025 yılında Murat Yücedağ Hocamızın Youtube'daki 150 derslik Asp.Net Core Proje Kampı
					dersini referans alınıp SOLID prensipleri, N Katmanlı Mimari, Dependecy Injection ve Repository Design Pattern gibi konularda eğitim serisinin ufak eksikliklerini ve yanlışlıkları
					iyileştirilerek ve daha kapsalım bir proje haline getirilerek Cleant Code ilkesine mümkün olduğunda uyulmaya çalışarak yapılmıştır.<br />
					Bu Projenin en önemli özelliği N Katmanlı Mimari, Generic Repository Design Pattern, Dependecy Injection kritik ve önemli konular işlenmiştir.<br>
					Bu ücretsiz eğitim serisi hazırladığı her video verdiği her emek için güzel Türkiyemizin yazılım alanında göstermiş olduğu emek ve güzellikleri için en samimi
					duygularımla teşekkürümü borç bilirim. İyiki varsınız hocam.
					
				</p>
			</div>
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
				@await Component.InvokeAsync("GetLastBlogs")
			</div>
			<!-- subscribe -->
			<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
				<h2>Düşünceleriniz Bizim İçin Değerli</h2>
				<div class="subscribe-main text-left">
					<div class="subscribe-form">
						<form action="/Contact/Index" method="post" class="subscribe_form">
							<button type="submit" class="btn btn-primary submit">Bize Ulaşın</button>
						</form>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!-- //subscribe -->
			</div>
		</div>
		<!-- footer -->
		<div class="footer-cpy text-center">
			<div class="footer-social">
				<div class="copyrighttop">
					<ul>
						<li class="mx-3">
							<a class="facebook" href="https://www.linkedin.com/in/muhammed-sert-b07bb5265/">
								<i class="fab fa-linkedin"></i>
								<span>Linkedln</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="https://github.com/mhmdsrt">
								<i class="fab fa-github"></i>
								<span>GitHub</span>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="w3layouts-agile-copyrightbottom">
				<p>
					© @DateTime.Now.Year MBlog. Muhammed Sert Tüm Hakları Saklıdır | Design by
					<a href="http://w3layouts.com/">W3layouts</a>
				</p>

			</div>
		</div>




	</div>
</footer>