@using EntityLayer.Concrete
@model IEnumerable<Category>

<div class="tech-btm">
    <h4 style="font-family:Arial">Kategoriler ve Blog Sayıları</h4>
    <ul class="list-group single">
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/Blog/GetBlogsByCategory/@item.CategoryID">
                    <strong style="font-family:'Times New Roman', Times, serif;color:brown;font-size:large">@item.CategoryName   </strong> Blog Sayısı ->

            </a>

                <i><label style="margin-left:5px;">@await Component.InvokeAsync("GetBlogCountByCategory", new { id = item.CategoryID })</label> </i>



            </li>
        }
    </ul>
</div>
